
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered" id="tbl-chiphi-hopdong">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã hợp đồng</th>
            <th>Tên khách hàng</th>
            <th>Cán bộ</th>
            <th>Ngày nhập</th>
            <th>Nội dung</th>
            <th>Chi phí</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

