
@{
    ViewBag.Title = "Tổng hợp khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Select2</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive" style="height:500px;">
                    <table class="table table-bordered" id="tbl-tonghop-khachhang" style="width:3000px;">
                        <thead>
                            <tr>
                                <td rowspan="2">#</td>
                                <td rowspan="2">Mã KH</td>
                                <td rowspan="2">Mã HD</td>
                                <td rowspan="2">Mã ĐG</td>
                                <td rowspan="2">Tên khách hàng</td>
                                <td rowspan="2">Tiêu chuẩn</td>
                                <td rowspan="2">Người môi giới</td>
                                <td rowspan="2">Người phụ trách</td>
                                <td rowspan="2">Doanh thu</td>
                                <td rowspan="2">Doanh thu thử nghiệm</td>
                                <td rowspan="2">Nợ chưa thanh toán</td>
                                <td rowspan="2">VAT</td>
                                <td rowspan="2">Số hoá đơn</td>
                                <td rowspan="2">Ngày cấp chứng chỉ</td>
                                <td rowspan="2">Chứng chỉ đi</td>
                                <td colspan="3">Chi phí thử nghiệm</td>
                                <td colspan="3">Chi phí</td>
                                <td rowspan="2">Ghi chú</td>
                            </tr>
                            <tr>
                                <td>Lần 1</td>
                                <td>Lần 2</td>
                                <td>Lần 3</td>
                                <td>Đánh giá</td>
                                <td>Hoa hồng</td>
                                <td>Hồ sơ</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

